<!-- public/views/home.html - Devin T. Currie -->

<div class="jumbotron text-center">
    <div class="text-justify">
        <h1>Devin T. Currie</h1>
        <hr>
        <p>{{ tagline }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="col-sm-6">
            <button type="button" class="btn btn-jumbo btn-default">
                <i class="fa fa-file fa-jumbo center-block"></i>
                <span class="lead center-block">Resume</span>
            </button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-jumbo btn-default">
                <i class="fa fa-desktop fa-jumbo center-block"></i>
                <span class="lead center-block">Web App Demo</span>
            </button>
        </div>
    </div>
</div>