<!-- public/views/home.html - Devin T. Currie -->

<div class="jumbotron jumbotron-portrait top banner fade-in animated">
    <div class="text-justify">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7 col-sm-4 col-md-5 col-lg-6 pull-left slant-left">
                    <div class="col-xs-12">
                        <h1>Devin Currie</h1>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                        <p>focused on creating sleek and intuitive user interfaces for web sites and applications</p>
                    </div>
                </div>
            </div>
            <div class="row hidden-xs hidden-sm hidden-md visible-lg">
                <div class="col-xs-12">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <div class="fa-stack fa-5x section-icon" data-target="specs"
                                 onclick="scrollToSection($(this).data('target'));">
                                <i class="fa fa-stack-2x fa-circle text-primary"></i>
                                <i class="fa fa-stack-1x fa-bolt text-warning"></i>
                            </div>
                            <div class="text-center">
                                <strong>Specialties</strong>
                            </div>
                        </li>
                        <li>
                            <div class="fa-stack fa-5x section-icon" data-target="techs"
                                 onclick="scrollToSection($(this).data('target'));">
                                <i class="fa fa-stack-2x fa-circle"></i>
                                <i class="fa fa-stack-1x fa-code text-primary"></i>
                            </div>
                            <div class="text-center">
                                <strong>Technology</strong>
                            </div>
                        </li>
                        <li>
                            <div class="fa-stack fa-5x section-icon" data-target="exams"
                                 onclick="scrollToSection($(this).data('target'));">
                                <i class="fa fa-stack-2x fa-circle text-primary"></i>
                                <i class="fa fa-stack-1x fa-desktop"></i>
                            </div>
                            <div class="text-center">
                                <strong>Examples</strong>
                            </div>
                        </li>
                        <li>
                            <div class="fa-stack fa-5x section-icon" ui-sref="resume">
                                <i class="fa fa-stack-2x fa-circle text-warning"></i>
                                <i class="fa fa-stack-1x fa-file-text text-primary"></i>
                            </div>
                            <div class="text-center">
                                <strong>Resume</strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row hidden-xs hidden-sm visible-md hidden-lg">
                <div class="col-xs-12">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <div class="fa-stack fa-4x section-icon" data-target="specs"
                                 onclick="scrollToSection($(this).data('target'));">
                                <i class="fa fa-stack-2x fa-circle text-primary"></i>
                                <i class="fa fa-stack-1x fa-bolt text-warning"></i>
                            </div>
                            <div class="text-center">
                                <strong>Specialties</strong>
                            </div>
                        </li>
                        <li>
                            <div class="fa-stack fa-4x section-icon" data-target="techs"
                                 onclick="scrollToSection($(this).data('target'));">
                                <i class="fa fa-stack-2x fa-circle"></i>
                                <i class="fa fa-stack-1x fa-code text-primary"></i>
                            </div>
                            <div class="text-center">
                                <strong>Technology</strong>
                            </div>
                        </li>
                        <li>
                            <div class="fa-stack fa-4x section-icon" data-target="exams"
                                 onclick="scrollToSection($(this).data('target'));">
                                <i class="fa fa-stack-2x fa-circle text-primary"></i>
                                <i class="fa fa-stack-1x fa-desktop"></i>
                            </div>
                            <div class="text-center">
                                <strong>Examples</strong>
                            </div>
                        </li>
                        <li>
                            <div class="fa-stack fa-4x section-icon" ui-sref="resume">
                                <i class="fa fa-stack-2x fa-circle text-warning"></i>
                                <i class="fa fa-stack-1x fa-file-text text-primary"></i>
                            </div>
                            <div class="text-center">
                                <strong>Resume</strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- TODO: Add Three teal circles with white icons for the three main page sections when nav is hidden in jumbotron -->
</div>
<div class="container fade-in scrolling">
    <h2 id="specs" class="page-header">Specialties</h2>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="ui">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#uiCollapse"
                               aria-expanded="true" aria-controls="uiCollapse" onclick="return false">
                                User Interfaces - Designed to be easy and enjoyable for users.
                            </a>
                        </h4>
                    </div>
                    <div id="uiCollapse" class="panel-collapse in" role="tabpanel" aria-labelledby="ui">
                        <div class="panel-body">
                            <ul>
                                <li>Sleek single page web sites and applications mean less load times for your users
                                </li>
                                <li>Approachable designs based on Twitter Bootstrap, with the ability to create custom
                                    "themes" for
                                    your web site or application
                                </li>
                                <li>Responsive and cross-platform design means your users can view your web site or
                                    application on
                                    any browser on any device
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="ux">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#uxCollapse"
                               aria-expanded="false" aria-controls="uxCollapse" onclick="return false">
                                User Experience - Tailored to turn your project into a cohesive experience for users.
                            </a>
                        </h4>
                    </div>
                    <div id="uxCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ui">
                        <div class="panel-body">
                            <ul>
                                <li>Focused on simple design to not "make the user think", and instead jump right into
                                    your
                                    web site or application
                                </li>
                                <li>Design that allows the user to explore your web page or application, or navigate to
                                    directly where they need to go in as few clicks as possible
                                </li>
                                <li>Use intuitive color schemes so users can understand buttons, alerts and
                                    notifications at
                                    glance
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="team">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#teamCollapse"
                               aria-expanded="false" aria-controls="teamCollapse" onclick="return false">
                                Team Development - Accustomed to work with designers, engineers and user/testers.
                            </a>
                        </h4>
                    </div>
                    <div id="teamCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ui">
                        <div class="panel-body">
                            <ul>
                                <li>Implement designs and features according to specification</li>
                                <li>Quick and iterative development using project management systems like AGILE</li>
                                <li>Well maintained version control practices using technology like Git</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="comm">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#commCollapse"
                               aria-expanded="false" aria-controls="commCollapse" onclick="return false">
                                Communication - Written and verbal communication skills help to schedule, design and
                                develop
                                around your requirements.
                            </a>
                        </h4>
                    </div>
                    <div id="commCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ui">
                        <div class="panel-body">
                            <ul>
                                <li>Capable of working remote using technologies like WebEx and to share ideas</li>
                                <li>Understand conveying information in a variety of mediums</li>
                                <li>Respond promptly and professionally, never leaving you in the dark</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container fade-in scrolling">
    <h2 id="techs" class="page-header">Technologies</h2>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="list-group">
                    <div class="list-group-item-heading"><h4>Languages</h4></div>
                    <a href="http://www.w3.org/TR/html5/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo fa-html5 center-block"></i>
                        <strong class="text-jumbo center-block">HTML5</strong>
                    </a>
                    <a href="http://www.w3.org/TR/css-2010/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo fa-css3 center-block"></i>
                        <strong class="text-jumbo center-block">CSS3</strong>
                    </a>
                    <a href="http://lesscss.org/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-less center-block"></i>
                        <strong class="text-jumbo center-block">LESS</strong>
                    </a>
                    <a href="http://sass-lang.com/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-sass center-block"></i>
                        <strong class="text-jumbo center-block">SASS/SCSS</strong>
                    </a>
                    <a href="https://www.javascript.com/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-javascript center-block"></i>
                        <strong class="text-jumbo center-block">JavaScript</strong>
                    </a>
                    <a href="http://www.json.org/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-json center-block"></i>
                        <strong class="text-jumbo center-block">JSON</strong>
                    </a>
                    <a href="https://www.python.org/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-python center-block"></i>
                        <strong class="text-jumbo center-block">Python</strong>
                    </a>
                    <a href="https://msdn.microsoft.com/en-us/vstudio/hh341490.aspx" target="_blank"
                       class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-csharp center-block"></i>
                        <strong class="text-jumbo center-block">C#</strong>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="list-group">
                    <div class="list-group-item-heading"><h4>Frameworks/Libraries</h4></div>
                    <a href="https://angularjs.org/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-angular center-block"></i>
                        <strong class="text-jumbo center-block">Angular</strong>
                    </a>
                    <a href="https://nodejs.org/en/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-node center-block"></i>
                        <strong class="text-jumbo center-block">Node</strong>
                    </a>
                    <a href="http://expressjs.com/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-express center-block"></i>
                        <strong class="text-jumbo center-block">Express</strong>
                    </a>
                    <a href="https://www.mongodb.org/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-mongo center-block"></i>
                        <strong class="text-jumbo center-block">MongoDB</strong>
                    </a>
                    <a href="http://getbootstrap.com/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-bootstrap center-block"></i>
                        <strong class="text-jumbo center-block">Bootstrap</strong>
                    </a>
                    <a href="https://jquery.com/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-jquery center-block"></i>
                        <strong class="text-jumbo center-block">Jquery</strong>
                    </a>
                    <a href="https://www.djangoproject.com/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-django center-block"></i>
                        <strong class="text-jumbo center-block">Django</strong>
                    </a>
                    <a href="http://www.asp.net/" target="_blank" class="btn btn-jumbo btn-default">
                        <i class="fa fa-jumbo icon-dotnet center-block"></i>
                        <strong class="text-jumbo center-block">ASP.NET</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container fade-in scrolling">
    <h2 id="exams" class="page-header">Examples</h2>
    <!-- TODO: Take screenshots of Transcirrus UI: Good dashboard shot with meters, good dashboard shot showing usability with color coding etc... and a shot showing theming (2x2 square of all the TC themes) -->
    <div class="row">
    </div>
</div>