<!-- public/views/home.html - Devin T. Currie -->

<div class="jumbotron jumbotron-hero-image top banner fade-in">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-1 pull-left text">
                <h1>Devin Currie</h1>
                <hr>
                <span>focused on creating sleek and intuitive user interfaces for
                    <strong>web sites and applications</strong>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <ul class="list-unstyled list-inline">
                    <li class="text-center">
                        <div class="fa-stack section-icon" data-target="specs"
                             onclick="scrollToSection($(this).data('target'));">
                            <i class="fa fa-stack-2x fa-circle text-primary"></i>
                            <i class="fa fa-stack-1x fa-bolt text-warning"></i>
                        </div>
                        <span class="section-title">Specialties</span>
                    </li>
                    <li class="text-center">
                        <div class="fa-stack section-icon" data-target="techs"
                             onclick="scrollToSection($(this).data('target'));">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-code text-primary"></i>
                        </div>
                        <span class="section-title">Technology</span>
                    </li>
                    <li class="text-center">
                        <div class="fa-stack section-icon" data-target="exams"
                             onclick="scrollToSection($(this).data('target'));">
                            <i class="fa fa-stack-2x fa-circle text-primary"></i>
                            <i class="fa fa-stack-1x fa-desktop"></i>
                        </div>
                        <span class="section-title">Examples</span>
                    </li>
                    <li class="text-center">
                        <div class="fa-stack section-icon" ui-sref="resume">
                            <i class="fa fa-stack-2x fa-circle text-warning"></i>
                            <i class="fa fa-stack-1x fa-file-text text-primary"></i>
                        </div>
                        <span class="section-title">Resume</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container scrolling">
    <div id="specs" class="page-header">
        <ul class="list-unstyled list-inline">
            <li>
                <div class="flag">
                    <div class="flag-pole"><i class="flag-end fa fa-circle text-warning"></i></div>
                    <i class="flag-icon fa fa-2x fa-bolt text-warning"></i>
                </div>
            </li>
            <li><h2>Specialties</h2></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="list-box list-box-primary">
                <div class="list-box-heading"><h2>User Interfaces</h2></div>
                <div class="list-box-body">
                    <div class="list-box-icon">
                        <div class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle-o text-primary"></i>
                            <i class="fa fa-stack-1x fa-tasks text-warning"></i>
                        </div>
                    </div>
                    <div class="list-box-text">
                        <ul>
                            <li>Sleek single page web sites and applications mean less load times for your users</li>
                            <li>
                                Approachable design, with the ability to create custom "themes" for your web site or
                                application
                            </li>
                            <li>Responsive and cross-platform design viewable on most browsers and devices.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="list-box list-box-primary list-box-reverse">
                <div class="list-box-heading"><h2>User Experience</h2></div>
                <div class="list-box-body">
                    <div class="list-box-icon">
                        <div class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle-o text-primary"></i>
                            <i class="fa fa-stack-1x fa-users text-warning"></i>
                        </div>
                    </div>
                    <div class="list-box-text">
                        <ul>
                            <li>Focused on simplicity, allowing users to jump into your web site or application</li>
                            <li>Design that balances user exploration with efficient navigation</li>
                            <li>Intuitive color schemes let users understand your UI at a glance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="list-box list-box-primary">
                <div class="list-box-heading"><h2>Team Development</h2></div>
                <div class="list-box-body">
                    <div class="list-box-icon">
                        <div class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle-o text-primary"></i>
                            <i class="fa fa-stack-1x fa-puzzle-piece text-warning"></i>
                        </div>
                    </div>
                    <div class="list-box-text">
                        <ul>
                            <li>Implement designs and features according to specification</li>
                            <li>Quick and iterative development using project management systems like AGILE</li>
                            <li>Well maintained version control practices using technology like Git</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="list-box list-box-primary list-box-reverse">
                <div class="list-box-heading"><h2>Communication</h2></div>
                <div class="list-box-body">
                    <div class="list-box-icon">
                        <div class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle-o text-primary"></i>
                            <i class="fa fa-stack-1x fa-comments text-warning"></i>
                        </div>
                    </div>
                    <div class="list-box-text">
                        <ul>
                            <li>Capable of working remote using technologies like WebEx to share ideas</li>
                            <li>Understand conveying information in a variety of mediums</li>
                            <li>Respond promptly and professionally, never leaving you in the dark</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container scrolling">
    <div id="techs" class="page-header">
        <ul class="list-unstyled list-inline">
            <li>
                <div class="flag flag-header muted">
                    <div class="flag-pole"><i class="flag-end fa fa-circle text-warning"></i></div>
                    <i class="flag-icon fa fa-2x fa-code text-primary"></i>
                </div>
            </li>
            <li><h2>Technologies</h2></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="list-group tech-icons">
                <div class="list-group-item-heading"><h4>Languages</h4></div>
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://www.w3.org/TR/html5/" target="_blank" class="btn btn-md btn-default">
                            <i class="fa fa-3x fa-html5 center-block text-primary"></i>
                            <strong class="center-block">HTML5</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://www.w3.org/TR/css-2010/" target="_blank" class="btn btn-md btn-primary">
                            <i class="fa fa-3x fa-css3 center-block text-warning"></i>
                            <strong class="center-block">CSS3</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://lesscss.org/" target="_blank" class="btn btn-md btn-default">
                            <i class="fa-3x icon-less center-block text-primary"></i>
                            <strong class="center-block">LESS</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://sass-lang.com/" target="_blank" class="btn btn-md btn-primary">
                            <i class="fa-3x icon-sass center-block text-warning"></i>
                            <strong class="center-block">SASS/SCSS</strong>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://www.javascript.com/" target="_blank" class="btn btn-default">
                            <i class="fa-3x icon-javascript center-block text-primary"></i>
                            <strong class="center-block">JavaScript</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://www.json.org/" target="_blank" class="btn btn-primary btn-primary">
                            <i class="fa-3x icon-json center-block text-warning"></i>
                            <strong class="center-block">JSON</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://www.python.org/" target="_blank" class="btn btn-default">
                            <i class="fa-3x icon-python center-block text-primary"></i>
                            <strong class="center-block">Python</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://msdn.microsoft.com/en-us/vstudio/hh341490.aspx" target="_blank"
                           class="btn btn-md btn-primary">
                            <i class="fa-3x icon-csharp center-block text-warning"></i>
                            <strong class="center-block">C#</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="list-group tech-icons">
                <div class="list-group-item-heading"><h4>Frameworks/Libraries</h4></div>
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://angularjs.org/" target="_blank" class="btn btn-md btn-default">
                            <i class="fa-3x icon-angular center-block text-primary"></i>
                            <strong class="center-block">AngularJs</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://nodejs.org/en/" target="_blank" class="btn btn-md btn-primary">
                            <i class="fa-3x icon-node center-block text-warning"></i>
                            <strong class="center-block">NodeJs</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://expressjs.com/" target="_blank" class="btn btn-md btn-default">
                            <i class="fa-3x icon-express center-block text-primary"></i>
                            <strong class="center-block">ExpressJs</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://www.mongodb.org/" target="_blank" class="btn btn-md btn-primary">
                            <i class="fa-3x icon-mongo center-block text-warning"></i>
                            <strong class="center-block">MongoDB</strong>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://getbootstrap.com/" target="_blank" class="btn btn-md btn-default">
                            <i class="fa-3x icon-bootstrap center-block text-primary"></i>
                            <strong class="center-block">Bootstrap</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://jquery.com/" target="_blank" class="btn btn-md btn-primary">
                            <i class="fa-3x icon-jquery center-block text-warning"></i>
                            <strong class="center-block">Jquery</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="https://www.djangoproject.com/" target="_blank" class="btn btn-md btn-default">
                            <i class="fa-3x icon-django center-block text-primary"></i>
                            <strong class="center-block">Django</strong>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3 tech-icon">
                        <a href="http://www.asp.net/" target="_blank" class="btn btn-md btn-primary">
                            <i class="fa-3x icon-dotnet center-block text-warning"></i>
                            <strong class="center-block">ASP.NET</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container scrolling">
    <div id="exams" class="page-header">
        <ul class="list-unstyled list-inline">
            <li>
                <div class="flag">
                    <div class="flag-pole"><i class="flag-end fa fa-circle text-warning"></i></div>
                    <i class="flag-icon fa fa-2x fa-desktop"></i>
                </div>
            </li>
            <li><h2>Examples</h2></li>
        </ul>
    </div>
    <div class="row">
        <a href="http://transcirrus.com" target="_blank" class="lead">TransCirrus Company Website</a>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus 'Hero' Header"><img
                        src="../imgs/transcirrus_header.png" class="thumbnail img-responsive"></a></div>
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus Product"><img
                        src="../imgs/transcirrus_product.png" class="thumbnail img-responsive"></a></div>
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus Contact"><img
                        src="../imgs/transcirrus_contact.png" class="thumbnail img-responsive"></a></div>
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus Mobile"><img
                        src="../imgs/transcirrus_mobile.png" class="thumbnail img-responsive"></a></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <hr>
    </div>
    <div class="row">
        <a href="http://transcirrus.com" target="_blank" class="lead">TransCirrus User Interface</a>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus 'Hero' Header"><img
                        src="../imgs/transcirrus_ui_dashboard.png" class="thumbnail img-responsive"></a></div>
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus Product"><img
                        src="../imgs/transcirrus_ui_metering.png" class="thumbnail img-responsive"></a></div>
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus Contact"><img
                        src="../imgs/transcirrus_ui_instances.png" class="thumbnail img-responsive"></a></div>
                <div class="col-xs-12 col-sm-6"><a href="" title="TransCirrus Mobile"><img
                        src="../imgs/transcirrus_ui_volumes.png" class="thumbnail img-responsive"></a></div>
            </div>
        </div>
    </div>
</div>