<!-- public/views/test.html - Devin T. Currie -->
<!-- NAV -->
<div main-nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>

<div class="jumbotron text-center fade-in animated">
    <div class="row">
        <div class="col-sm-6">
            <div class="img-responsive img-circle portrait center-block"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-middle">

            </div>
            <h1>Devin T. Currie</h1>
            <hr>
            <p>Front-End and UI Developer</p>
        </div>
    </div>
</div>
<div class="container fade-in animated">
    <h1 id="sum" class="page-header">Summary</h1>

    <div class="row">
        <div class="well">
            <h4><strong>Devin is ....</strong></h4>

            <p>Focused on front-end web development specializing in sleek and intuitive user interfaces. Able to produce
                web
                sites, applications and interfaces.</p>

            <p>Comfortable working directly or remotely with designers, back-end developers and project managers.</p>

            <p>Capable of using a variety of languages, frameworks and libraries, and able to adapt to new ones.</p>
        </div>
    </div>
</div>
<div class="container fade-in animated">
    <h1 id="exp" class="page-header">Experience</h1>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>TransCirrus</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">Title</strong>

                        <p>UI Developer</p>
                    </div>
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">Description</strong>

                        <p>Designing and implementing web interfaces on top of OpenStack.</p>
                    </div>
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">Time</strong>

                        <p>October 2014 - Present</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Freelance</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">Title</strong>

                        <p>Front-End Developer</p>
                    </div>
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">Description</strong>

                        <p>Produce web sites and applications working alongside designers and back-end developers.</p>
                    </div>
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">Time</strong>

                        <p>January 2014 - Present</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container fade-in animated">
    <h1 id="edu" class="page-header">Education</h1>

    <div class="row">
        <div class="well">
            <a href="http://www.coastal.edu/" target="_blank">
                <div class="img-responsive ccu"></div>
            </a>
            <hr class="border-primary">
            <p><strong>Dates Attended:</strong> 2007-2011</p>

            <p><strong>Degree:</strong> BA</p>

            <p><strong>Field of Study:</strong> Communications</p>
        </div>
    </div>
</div>
<div class="container fade-in animated">

    <h1 id="skex" class="page-header">Skills & Expertise</h1>

    <div class="row">
        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <h4><strong>Front-End Development</strong></h4>
                </div>
                <p>
                    HTML
                    CSS
                    JavaScript
                    jQuery
                    Angular
                    Node
                    Express
                    Mongoose
                    Mongo
                    Python
                    Django
                    C#
                    .NET
                </p>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <h4><strong>Project Management</strong></h4>
                </div>
                <p>
                    Git
                    GitHub
                    GitLab
                    Subversion
                    Mercurial
                    LDAP
                    FTP/SFTP
                    Webex
                    Skype
                    Gmail
                    Exchange
                    XMPP
                    Office
                </p>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <h4><strong>General</strong></h4>
                </div>
                <p>
                    UI
                    UX
                    Design
                    Communications(Written,Oral,Mass,Organizational,Data/Information)
                    Writing
                    Social-Media
                </p>
            </div>
        </div>
    </div>

</div>
<div class="container fade-in animated">

    <h1 id="refs" class="page-header">References</h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h4><strong>Jonathan Arrance</strong></h4>
                    </div>
                    <p>CTO TransCirrus - Employer</p>
                    <a href="mailto:jonathan.arrance@transcirrus.com">jonathan.arrance@transcirrus.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h4><strong>Brett Dolecheck</strong></h4>
                    </div>
                    <p>Sr. Developer - Manager</p>
                    <a href="mailto:brett.dolecheck@transcirrus.com">brett.dolecheck@transcirrus.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h4><strong>Barbara Astrini</strong></h4>
                    </div>
                    <p>Designer - Collaborator</p>
                    <a href="mailto:barbaraastrini@gmail.com">barbaraastrini@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
