<!-- public/views/test.html - Devin T. Currie -->
<!-- NAV -->
<div main-nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-6">
                <div class="img-responsive img-circle portrait center-block"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-middle">

            </div>
            <h1>{{ tagline }}</h1>
            <hr>
            <p>Front-End and UI Development for the Web</p>
        </div>
    </div>
</div>
<!--<h1 class="page-header">Summary</h1>-->

<!--<h1 class="page-header">Experience</h1>-->

<!--<h1 class="page-header">Skills & Expertise</h1>-->

<!--<h1 class="page-header">Education</h1>-->

<!--<h1 class="page-header">References</h1>-->