.btn-jumbo {
    height: 100%;
    width: 100%;
}

.fa-jumbo {
    font-size: 10rem;
    padding-top: 5px;
}

.fa-jumbo-xl {
    font-size: 25rem;
    padding-top: 10px;
}

.text-jumbo {
    font-size: 2.5rem;
}

.portrait {
    width: 30rem;
    height: 30rem;
    background-image: url('../img/portrait.jpg');
    background-size: cover;
    background-position-y: -5rem;
}

#back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
}