body.modal-open {
    overflow: visible;
}

#thumbnailModal > .modal-dialog {
    width: auto !important;
}

.ccu {
    width: 32rem;
    height: 8rem;
    background-image: url('../imgs/ccu_logo.png');
    background-size: cover;
    display: inline-block;
}

.back-to-top.fixed {
    position: fixed;
    bottom: 0;
    right: 0;

}

.back-to-top.static {
    position: static;
    float: right;

}